<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.EssayDao">
    <cache type="com.baizhi.cache.RedisCache"/>

    <!--findAll-->
    <select id="findAll" resultType="Essay">
        select id,essayTitle,essayAbout,essayContent,essayImg,labelId,labelName,createTime from t_essay
    </select>

    <!--save-->
    <!--<insert id="save" parameterType="Essay" useGeneratedKeys="true" keyProperty="id">-->
        <!--insert into t_essay values-->
        <!--(#{id},#{essayTitle},#{essayAbout},#{essayContent},#{essayImg},#{labelId},#{labelName},now)-->
    <!--</insert>-->
    <!--save-->
    <insert id="save" parameterType="Essay" useGeneratedKeys="true" keyProperty="id">
        insert into t_essay values
        (#{id},#{essayTitle},#{essayAbout},#{essayContent},#{essayImg},#{labelId},#{labelName},#{createTime})
    </insert>

    <!--<insert id="save" parameterType="Essay" useGeneratedKeys="true" keyProperty="id">-->
       <!--insert into t_arcticle(-->
			<!--id,-->
			<!--essayTitle,-->
			<!--essayAbout,-->
			<!--essayContent,-->
			<!--essayImg,-->
			<!--labelId,-->
			<!--labelName,-->
			<!--createTime-->
		<!--)values(-->
			<!--#{id},-->
			<!--#{essayTitle},-->
			<!--#{essayAbout},-->
			<!--#{essayContent},-->
			<!--#{essayImg},-->
			<!--#{labelId},-->
			<!--#{labelName},-->
			<!--now()-->
		<!--)-->
    <!--</insert>-->

    <!--delete-->
    <delete id="delete" parameterType="String">
        delete from t_essay where id =#{id}
    </delete>

    <!--findOne-->
    <select id="findOne" parameterType="String" resultType="Essay">
        select id,essayTitle,essayAbout,essayContent,essayImg,labelId,labelName,createTime from t_essay where id =
        #{id}
    </select>

    <!--findByTags-->
    <select id="findByTags" parameterType="String" resultType="Essay">
        select id,essayTitle,essayAbout,essayContent,essayImg,labelId,labelName,createTime from t_essay where labelId =
        #{tag}
    </select>

    <!--findAllTags-->
    <select id="findTags"  resultType="String">
        SELECT t_essay.labelName FROM t_essay GROUP BY t_essay.labelName
    </select>

    <!--updateOne-->
    <update id="updateOne" parameterType="Essay">
        update t_essay set essayTitle = #{essayTitle}, essayAbout =#{essayAbout},essayContent =
        #{essayContent},essayImg =
         #{essayImg},
        labelId = #{labelId},labelName = #{labelName},createTime = #{createTime} where id = #{id}
    </update>

    <select id="findPage" resultType="Essay">
          select id,essayTitle,essayAbout,essayContent,essayImg,labelId,labelName,createTime from
          t_essay
    </select>

    <!-- 自己手写的一个根据名字模糊查询考试   exam是扫描出来的别名 -->
    <select id="findByLabelName" parameterType="String" resultType="Essay">
      select id,essayTitle,essayAbout,essayContent,essayImg,labelId,labelName,createTime from t_essay where
      labelName=#{labelName}
    </select>


</mapper>